<script>
  $(function () {
    var columns = [
      {
        name: "#",
        formatter: function (row) {
          return row + 1;
        },
        behavior: "select",
        cssClass: "cell-selection",
        width: 60,
        cannotTriggerInsert: true,
        resizable: false,
        selectable: false,
        excludeFromColumnPicker: true,
      },
      { name : "종목코드", id: "stock_cd", field: "stock_cd", cssClass: "tac",  sortable: true},
      { name: "종목명", id: "stock_nm", field: "stock_nm", width : 200 , cssClass: "tal", sortable: true  },
{ name : "기준가(어제종가)", id: "yesterday_amt", field: "yesterday_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "현재가", id: "curr_amt", field: "curr_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "전일대비", id: "contrast_yesterday", field: "contrast_yesterday", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "전일대비기호", id: "contrast_yesterday_symbol", field: "contrast_yesterday_symbol", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "등락율", id: "fluctuation_rt", field: "fluctuation_rt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "거래량", id: "trade_qty", field: "trade_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "거래대금", id: "trade_amt", field: "trade_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "체결량", id: "contract_qty", field: "contract_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "체결강도", id: "contract_strength", field: "contract_strength", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "전일거래량대비", id: "yesterday_contrast_trade_rt", field: "yesterday_contrast_trade_rt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매도호가", id: "offered_amt", field: "offered_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매수호가", id: "bid_amt", field: "bid_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매도1차호가", id: "offered_amt_one", field: "offered_amt_one", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매도2차호가", id: "offered_amt_two", field: "offered_amt_two", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매도3차호가", id: "offered_amt_three", field: "offered_amt_three", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매도4차호가", id: "offered_amt_four", field: "offered_amt_four", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매도5차호가", id: "offered_amt_five", field: "offered_amt_five", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매수1차호가", id: "bid_amt_one", field: "bid_amt_one", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매수2차호가", id: "bid_amt_two", field: "bid_amt_two", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매수3차호가", id: "bid_amt_three", field: "bid_amt_three", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매수4차호가", id: "bid_amt_four", field: "bid_amt_four", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "매수5차호가", id: "bid_amt_five", field: "bid_amt_five", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "상한가", id: "upper_amt_lmt", field: "upper_amt_lmt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "하한가", id: "lower_amt_lmt", field: "lower_amt_lmt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "시작가", id: "start_amt", field: "start_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "고가", id: "high_amt", field: "high_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "저가", id: "low_amt", field: "low_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "종가", id: "clsg_amt", field: "clsg_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "체결시간", id: "contract_time", field: "contract_time", cssClass: "tar",  sortable: true},
{ name : "예상체결가", id: "expectation_contract_amt", field: "expectation_contract_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "예상체결수량", id: "expectation_contract_qty", field: "expectation_contract_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "자본금", id: "capital_amt", field: "capital_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "액면가", id: "face_amt", field: "face_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "시가총액", id: "total_mrkt_amt", field: "total_mrkt_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "상장주식수", id: "stock_cnt", field: "stock_cnt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "호가시간", id: "hoga_time", field: "hoga_time", cssClass: "tar",  sortable: true},
{ name : "일자", id: "stock_dt", field: "stock_dt", cssClass: "tar",  sortable: true},
{ name : "우선매도잔량", id: "fst_offered_balance", field: "fst_offered_balance", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "우선매수잔량", id: "fst_bid_balance", field: "fst_bid_balance", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "우선매도건수", id: "fst_offered_qty", field: "fst_offered_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "우선매수건수", id: "fst_bid_qty", field: "fst_bid_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "총매도잔량", id: "tot_offered_balance", field: "tot_offered_balance", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "총매수잔량", id: "tot_bid_balance", field: "tot_bid_balance", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "총매도건수", id: "tot_offered_qty", field: "tot_offered_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "총매수건수", id: "tot_bid_qty", field: "tot_bid_qty", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "패리티", id: "parity_rt", field: "parity_rt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "기어링", id: "gearing", field: "gearing", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "손익분기", id: "break_even_point", field: "break_even_point", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "ELW행사가", id: "elw_strike_amt", field: "elw_strike_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "전환비율", id: "conversion_rt", field: "conversion_rt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "ELW만기일", id: "elw_expiry_dt", field: "elw_expiry_dt", cssClass: "tar",  sortable: true},
{ name : "미결제약정", id: "open_interest", field: "open_interest", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "미결제전일대비", id: "contrast_open_interest", field: "contrast_open_interest", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "이론가", id: "theorist_amt", field: "theorist_amt", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "내재변동성", id: "implied_volatility", field: "implied_volatility", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "델타", id: "delta", field: "delta", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "감마", id: "gamma", field: "gamma", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "세타", id: "theta", field: "theta", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "베가", id: "vega", field: "vega", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "로", id: "lo", field: "lo", cssClass: "tar",  sortable: true, formatter:  Slick.Formatters.MoneyFormatter},
{ name : "등록시간", id: "crt_dtm", field: "crt_dtm", cssClass: "tar",  sortable: true}
    ];

    var options = {
      editable: false /*수정여부*/,
      enableAddRow: false /*행 추가 여부*/,
      forceFitColumns: false,
      topPanelHeight: 25,
      autoResize : true
    };

    var grid = new GridMngr("{{.uuid}}", "grid", columns, options);
    grid.showTotalSummary(["curr_amt"]);
    grid.build();

    grid.onClick(function (e,args,grid) {

      var cell = grid.getCellFromEvent(e);
      if (grid.getColumns()[cell.cell].id == "stock_cd") {
        if (!grid.getEditorLock().commitCurrentEdit()) {
          return;
        }
        var rd = grid.dataView.getItem(cell.row);
        //rd.stock_cd;
        var param = {
          stock_cd: rd.stock_cd
        }
        var popup = new PopupManger("{{.uuid}}", 'stock_detail', {
          width: 1100,
          heght: 700
        },
          param
        );
        popup.open();

        //data[cell.row].priority = states[data[cell.row].priority];
        e.stopPropagation();
      }
    });


    /*조회버튼*/
    $("#{{.uuid}}-search").on("click", function (e) {
      e.preventDefault();
      var param = {
        stock_cd: $("#{{.uuid}}-stock_cd").val(),
      };
      grid.LoadData("optkwfid_data", param);
    });
    $("#{{.uuid}}-search").trigger("click");
  });
</script>
<div id="{{.uuid}}">
  <table>
    <tr>
      <td>종목</td>
      <td><input type="text" id="{{.uuid}}-stock_cd" /></td>
      <td><input type="button" id="{{.uuid}}-search" value="조회" /></td>
    </tr>
  </table>
  <div id="{{.uuid}}-grid"></div>
</div>

