<script>
  /*조회버튼*/
  $(function () {


    var order_type = new SelectBoxMngr("{{.uuid}}-order_type", "get_api_cm_cd", {
      grp_cd: "ORDER_TYPE"
    });

    var hoga_gubun = new SelectBoxMngr("{{.uuid}}-hoga_gubun", "get_api_cm_cd", {
      grp_cd: "HOGA_GUBUN"
    });
    $("#{{.uuid}}-stock_cd").val("{{.stock_cd}}");
    bind_one_ajax("#opt10001","Get_stock_code_info",{
      stock_cd: "{{.stock_cd}}"
    },function(data){
      $('[data-ax5formatter]').ax5formatter();
    });

  
    $("#{{.uuid}}-order").on("click", function (e) {
      e.preventDefault();
      alert("조회");
      var param = {
        rq_name: $("#{{.uuid}}-rq_name").val(),
        acct_num: $("#{{.uuid}}-acct_num").val(),
        order_type: $("#{{.uuid}}-order_type").val(),
        stock_cd: $("#{{.uuid}}-stock_cd").val(),
        qty: $("#{{.uuid}}-qty").val(),
        amt: $("#{{.uuid}}-amt").val(),
        hoga_gubun: $("#{{.uuid}}-hoga_gubun").val(),
        orgn_order_no: $("#{{.uuid}}-orgn_order_no").val(),
      };
      send_post_ajax("external_send_order", param)
    });
  })

</script>
<div id="{{.uuid}}" class="screen_detail">
  <table>
    <tr>
      <td>주문제목</td>
      <td width="150"><input type="text" id="{{.uuid}}-rq_name" value="GO주문" /></td>
    </tr>
    <tr>
      <td>계좌번호</td>
      <td><input type="text" id="{{.uuid}}-acct_num" value="8132761911" /></td>
    </tr>
    <tr>
      <td>주문유형</td>
      <td>
        <select id="{{.uuid}}-order_type" width="200"></select>
      </td>
    </tr>
    <tr>
      <td>종목코드</td>
      <td><input type="text" id="{{.uuid}}-stock_cd" value="" /></td>
    </tr>
    <tr>
      <td>주문수량</td>
      <td><input type="text" id="{{.uuid}}-qty" value="2" /></td>
    </tr>
    <tr>
      <td>가격</td>
      <td><input type="text" id="{{.uuid}}-amt" value="500" /></td>
    </tr>
    <tr>
      <td>거래구분(호가구분)</td>
      <td>
        <select id="{{.uuid}}-hoga_gubun" width="200"></select>
      </td>
    </tr>
    <tr>
      <td>원주문번호</td>
      <td><input type="text" id="{{.uuid}}-orgn_order_no" /></td>
    </tr>
    <tr>
      <td>주문</td>
      <td><input type="button" value="주문" id="{{.uuid}}-order" /></td>
    </tr>
  </table>

  <div id="opt10001">
    <table>
      <tr>
        <td>액면가</td>
        <td><input type="text" id="face_amt" name="face_amt"  class="tal" data-ax5formatter="money"></td>
        <td>자본금</td>
        <td><input type="text" id="capital_amt" name="capital_amt"  class="tal" data-ax5formatter="money"></td>
        <td>상장주식수</td>
        <td><input type="text" id="stock_cnt" name="stock_cnt"  class="tal" data-ax5formatter="money"></td>
        <td>신용비율(credit_rate)</td>
        <td><input type="text" id="credit_rt" name="credit_rt"  class="tal" data-ax5formatter="money"></td>
        <td>결산월(02)</td>
        <td><input type="text" id="settlement_mm" name="settlement_mm"  class="tal" data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>연중최고</td>
        <td><input type="text" id="year_high_amt" name="year_high_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>연중최저</td>
        <td><input type="text" id="year_low_amt" name="year_low_amt"  class="tal" data-ax5formatter="money"></td>
        <td>시가총액</td>
        <td><input type="text" id="total_mrkt_amt" name="total_mrkt_amt"  class="tal" data-ax5formatter="money"></td>
        <td>시가총액비중</td>
        <td><input type="text" id="total_mrkt_amt_rt" name="total_mrkt_amt_rt"  class="tal"  data-ax5formatter="money"></td>
        <td>외인소진률</td>
        <td><input type="text" id="foreigner_exhaustion_rt" name="foreigner_exhaustion_rt"   class="tal"  data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>대용가</td>
        <td><input type="text" id="substitute_amt" name="substitute_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>주가수익률</td>
        <td><input type="text" id="per" name="per"  class="tal"  data-ax5formatter="money"></td>
        <td>주당순이익</td>
        <td><input type="text" id="eps" name="eps"  class="tal"  data-ax5formatter="money"></td>
        <td>자기자본이익률</td>
        <td><input type="text" id="roe" name="roe"  class="tal"  data-ax5formatter="money"></td>
        <td>주가순자산비율</td>
        <td><input type="text" id="pbr" name="pbr"  class="tal"  data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>이자비용,법인세비용, 감가상각비용을 공제하기 전의 이익</td>
        <td><input type="text" id="ev" name="ev"  class="tal"  data-ax5formatter="money"></td>
        <td>주당순자산가치</td>
        <td><input type="text" id="bps" name="bps"  class="tal"  data-ax5formatter="money"></td>
        <td>매출액</td>
        <td><input type="text" id="sales" name="sales"  class="tal"  data-ax5formatter="money"></td>
        <td>영업이익</td>
        <td><input type="text" id="business_profits" name="business_profits"  class="tal"  data-ax5formatter="money"></td>
        <td>D250최고</td>
        <td><input type="text" id="d250_high_amt" name="d250_high_amt"  class="tal"  data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>D250최저</td>
        <td><input type="text" id="d250_low_amt" name="d250_low_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>시작가</td>
        <td><input type="text" id="start_amt" name="start_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>고가</td>
        <td><input type="text" id="high_amt" name="high_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>상한가</td>
        <td><input type="text" id="upper_amt_lmt" name="upper_amt_lmt"  class="tal"  data-ax5formatter="money"></td>
        <td>하한가</td>
        <td><input type="text" id="lower_amt_lmt" name="lower_amt_lmt"  class="tal"  data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>기준가(어제가격)</td>
        <td><input type="text" id="yesterday_curr_amt" name="yesterday_curr_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>예상체결가</td>
        <td><input type="text" id="expectation_contract_amt" name="expectation_contract_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>예상체결수량</td>
        <td><input type="text" id="expectation_contract_qty" name="expectation_contract_qty"  class="tal"  data-ax5formatter="money"></td>
        <td>D250최고가일</td>
        <td><input type="text" id="d250_high_dt" name="d250_high_dt"  class="tac" ></td>
        <td>D250최고가대비율</td>
        <td><input type="text" id="d250_high_rt" name="d250_high_rt" class="tal"  data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>현재가</td>
        <td><input type="text" id="curr_amt" name="curr_amt"  class="tal"  data-ax5formatter="money"></td>
        <td>대비기호</td>
        <td><input type="text" id="contrast_symbol" name="contrast_symbol"  class="tal"  data-ax5formatter="money"></td>
        <td>전일대비</td>
        <td><input type="text" id="contrast_yesterday" name="contrast_yesterday"  class="tal"  data-ax5formatter="money"></td>
        <td>등락율</td>
        <td><input type="text" id="fluctuation_rt" name="fluctuation_rt"  class="tal"  data-ax5formatter="money"></td>
        <td>거래량</td>
        <td><input type="text" id="trade_qty" name="trade_qty"  class="tal"  data-ax5formatter="money"></td>
      </tr>
      <tr>
        <td>거래대비</td>
        <td><input type="text" id="trade_contrast" name="trade_contrast"  class="tal"  data-ax5formatter="money"></td>
        <td>생성일자</td>
        <td><input type="text" id="crt_dtm" name="crt_dtm"  class="tal" data-ax5formatter="date"></td>
        <td>D250최저가일</td>
        <td><input type="text" id="d250_low_dt" name="d250_low_dt"  class="tac"></td>
        <td>액면가단위</td>
        <td><input type="text" id="face_amt_unit" name="face_amt_unit" class="tal" ></td>
      </tr>
    </table>
  </div>  
</div>